@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap");

*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--black-color);
    color: var(--white-color);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: inline-block;
}

:root{
    --prim-color: #BFF747;
    --white-color: #fff;
    --black-color: #000;
    --light-color: #3D3E3C;
    
    --poppins: "Poppins";
    --transition-regular: .3s;
}

/* NAVBAR */

.nav-container{
    z-index: 1000;
    backdrop-filter: blur(6px);
}

.logo span{
    color: var(--prim-color);
}

.nav-menu li a{
    position: relative;
    transition: var(--transition-regular);
}

.nav-menu li a:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    border-radius: 5px;
    background-color: var(--prim-color);
    transition: var(--transition-regular);
}


.nav-menu li a::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    border-radius: 5px;
    background-color: var(--prim-color);
    transition: var(--transition-regular);
}

.nav-menu li a:hover::after,
.nav-menu li a:hover::before{
    width: 100%;
}

.nav-menu li a:hover{
    color: var(--prim-color) !important;
}

.hero-social-icon i{
    font-size: 1.5rem;
    color: var(--prim-color);
    transition: var(--transition-regular);
}

.hero-social-icon i:hover{
    color: var(--white-color);
    cursor: pointer;
}

@media only screen and (max-width: 991px){
    .hero-social-icon{
        display: none !important;
    }
}

/* Hero Section */

.video-bg video{
    position: absolute;
    z-index: -10000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    
}

.hero{
    padding-top: 20%;
}

.hero-marquee {
    margin-top: 22%;
    padding: 20px 0;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    background-color: var(--prim-color);
}

.marquee-content {
    display: inline-flex;
    animation: marquee 20s linear infinite;
}

.marquee-content img {
    margin-right: 2rem; /* Equivalent to ms-5 in Bootstrap for spacing */
    height: 50px; /* Adjust logo height as needed */
    object-fit: contain;
}

@media only screen and (max-width: 767px) {
    .hero{
        padding: 50px 0;
    }
    .hero h1{
        font-size: 20px;
    }
    
}

@media only screen and (max-width: 660px) {
    .hero{
        padding-top: 25%;
    }
    .hero-marquee{
        margin-top: 0%;
    }
}

/* Animation keyframes */
@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); /* Moves half the content width for seamless loop */
    }
}

/* Pause animation on hover */
.hero-marquee:hover .marquee-content {
    animation-play-state: paused;
}
