@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap");

*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--black-color);
    color: var(--white-color);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: inline-block;
}

:root{
    --prim-color: #BFF747;
    --white-color: #fff;
    --black-color: #000;
    --light-color: #3D3E3C;
    
    --poppins: "Poppins";
    --transition-regular: .3s;
    --transition-slow: .5s;
}

/* NAVBAR */

.nav-container{
    z-index: 1000;
    backdrop-filter: blur(6px);
}

.logo span{
    color: var(--prim-color);
}

.nav-menu li a{
    position: relative;
    transition: var(--transition-regular);
}

.nav-menu li a:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    border-radius: 5px;
    background-color: var(--prim-color);
    transition: var(--transition-regular);
}


.nav-menu li a::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    border-radius: 5px;
    background-color: var(--prim-color);
    transition: var(--transition-regular);
}

.nav-menu li a:hover::after,
.nav-menu li a:hover::before{
    width: 100%;
}

.nav-menu li a:hover{
    color: var(--prim-color) !important;
}

.hero-social-icon i{
    font-size: 1.5rem;
    color: var(--prim-color);
    transition: var(--transition-regular);
}

.hero-social-icon i:hover{
    color: var(--white-color);
    cursor: pointer;
}

@media only screen and (max-width: 991px){
    .hero-social-icon{
        display: none !important;
    }
}

/* Hero Section */

.video-bg video{
    position: absolute;
    z-index: -10000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    
}

.hero{
    padding-top: 20%;
}

.hero-marquee {
    margin-top: 20%;
    padding: 20px 0;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    background-color: var(--prim-color);
}

.marquee-content {
    display: inline-flex;
    animation: marquee 20s linear infinite;
}

.marquee-content img {
    margin-right: 2rem; /* Equivalent to ms-5 in Bootstrap for spacing */
    height: 50px; /* Adjust logo height as needed */
    object-fit: contain;
}

@media only screen and (max-width: 767px) {
    .hero{
        padding: 50px 0;
    }
    .hero h1{
        font-size: 20px;
    }
    
}

@media only screen and (max-width: 660px) {
    .hero{
        padding-top: 25%;
    }
    .hero-marquee{
        margin-top: 0%;
    }
}

/* Animation keyframes */
@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); /* Moves half the content width for seamless loop */
    }
}

/* Pause animation on hover */
.hero-marquee:hover .marquee-content {
    animation-play-state: paused;
}

.large-section{
    background: url(./assets/img/section-bg-circle-shape.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-small-img1{
    animation: Anim-rotate 7s infinite forwards linear;
}

@keyframes Anim-rotate {
    100%{
        transform: rotate(360deg);
    }
}

.section-title h5{
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

.section-title h2{
    font-size: 3.5rem;
    color: var(--white-color);
    font-weight: 400;
}

.section-title h2 span{
    color: var(--prim-color);
    font-weight: 600;
}

.btn-1{
    display: flex;
    align-items: center;
}

.btn-1 button{
    background-color: var(--light-color);
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 50px;
}

.btn-1 img{
    background-color: var(--prim-color);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding: 10px;
    transition: var(--transition-regular);
}

.btn-1:hover img{
    transform: rotate(45deg);
    background-color: var(--white-color);
}

.btn-1:hover button{
    background-color: var(--light-color);
}

/* About MQ section  */

@media only screen and (max-width: 1399px) {
    .section-title{
        font-size: 3rem;
    }
    .about-small-img2{
        height: 320px;
        object-fit: cover;
    }
}

@media only screen and (max-width: 1199px){
    .section-title h1{
        font-size: 2.5rem;
    }
    .about-sec-image{
        display: none !important;
    }
    .about-info-text{
        font-size: 14px !important;
    }

    .about-info-text h4{
        font-size: 1rem !important;
    }
}

@media only screen and (max-width: 991px) {
    .about-sec-image{
        display: flex !important;
    }

    .about-main-image{
        object-fit: cover;
    }

    .about-content{
        margin-top: 50px;

    }
}

.about-wrapper::before{
    content: '';
    position: absolute;
    display: block;
    right: 3%;
    top: 50%;
    z-index: 1;
    background: url(./assets/img/section-bg-shape-1.png) no-repeat;
    background-position: right center;
    background-size: contain;
    width: 250px;
    height: 250px;
    transform: translateY(-50%);
    opacity: 50%;
    animation: circlemoverotate 10s infinite linear;
    animation-direction: alternate;
}

@keyframes circlemoverotate{
    0%{
        transform: translateY(0) rotate(0deg);
    }
    100%{
        transform: translateY(-100%) rotate(360deg);
    }
}

.ser-card{
    border: 1px solid #ffffff1a;
    border-radius: 20px;
}

.section-image{
    position: relative;
    overflow: hidden !important;
    overflow: hidden;
}

.section-image::after{
    content: '';
    position: absolute;
    width: 215%;
    height: 0;
    left: 50%;
    top: 50%;
    background-color: rgba(255, 255, 255, .3);
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: var(--transition-slow);
}

@keyframes anim-opacity {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.section-image:hover::after{
    height: 250%;
    animation: anim-opacity var(--transition-regular) 0.3s forwards linear;
}

.section-image:hover:after{
    height: 250%;
    transition: all 600ms linear;
}
.section-image img{
    transition: var(--transition-regular);
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.section-image:hover img{
    transform: scale(1.1);
}
.ser-card-body{
    padding: 30px;
    cursor: pointer;
}
.ser-card-body img{
    width: 42px;
    height: 42px;
    transition: var(--transition-slow);
    cursor: pointer;
}
.ser-card-body:hover img{
    transform: rotateY(180deg);
    filter: brightness(0) invert(1);
}

.read-more button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
    background-color: var(--light-color);
    color: var(--white-color);
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 15px 30px;
    font-weight: 700;
    transition: var(--transition-regular);
    cursor: pointer;
}

.read-more button i{
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    transition: var(--transition-slow);
    cursor: pointer;
    display: inline-block;
}

.read-more button:hover{
    background-color: var(--prim-color);
    color: var(--black-color);
}

.read-more button:hover i{
    transform: rotate(45deg);
}

@media only screen and (max-width: 1399px){
    .about-wrapper::before{
        top: 120%;
        right: 0;
    }
}

@media only screen and (max-width: 1199px){
    .ser-card-title{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 991px){
    .about-wrapper::before{
        top: 35%;
        right: 5%;
    }
}

/*What We Do */

.service-card{
    width: 100%;
    border: 1px solid #ffffff1a;
    backdrop-filter: blur(100px);
    border-radius: 20px;
    padding: 40px 35px;
    overflow: hidden;
    background-color: #1b1b1b;
    position: relative;
    transition: var(--transition-slow);
    cursor: pointer;
    z-index: 1;
}

.service-card::after{
    content: '';
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--prim-color);
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: var(--transition-slow);
}

.service-card:hover::after{
    top: 0%;
}

.service-card:hover{
    color: var(--black-color);
}

.service-card:hover img{
    transform: rotateY(180deg);
    filter: brightness(0) invert(0);
}

.service-card img{
    width: 42px;
    height: 42px;
    transition: var(--transition-slow);
    cursor: pointer;
}

/*  */

.what-we-do::before{
    content: '';
    position: absolute;
    display: block;
    left: 0%;
    top: 350%;
    z-index: 1;
    background: url(./assets/img/section-bg-shape-2.png) no-repeat;
    background-position: right center;
    background-size: contain;
    width: 250px;
    height: 250px;
    transform: translateY(-50%);
    opacity: 50%;
    animation: circlemoverotate 10s infinite linear;
    animation-direction: alternate;
}

@keyframes circlemoverotate{
    0%{
        transform: translateY(0) rotate(0deg);
    }
    100%{
        transform: translateY(-100%) rotate(360deg);
    }
}

.banner-container{
    height: 650px;
    background: url(./assets/img/intro-video-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.banner-container::after, .banner-container::before{
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.3);
}

.banner-title{
    font-size: 3rem;
    width: 60%;
} 

.play-btn{
    width: 120px;
    height: 120px;
    background-color: var(--prim-color);
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    right: 120px;
    top: 120px;  
    cursor: pointer;  
}

.play-btn::before, .play-btn::after{
    content: '';
    position: absolute;
    top: -30%;
    left: -30%;
    width: 160%;
    height: 160%;
    border: 50px solid #ffffff1a;
    border-radius: 50%;
    transform: scale(0.6);
    animation: border-zoom 1.2s infinite linear ;
}

.play-btn::after{
    animation: 0.3s;
}

.play-btn i{
    font-size: 3rem;
    z-index: 3;
    position: relative;
}

@keyframes border-zoom {
    100%{
        transform: scale(1);
        opacity: 0;
    }
}

@media only screen and (max-width: 1199px) {
    .banner-title h2{
        width: 80%;
    }
    .play-btn{
        width: 90px;
        height: 90px;
    }
}

@media only screen and (max-width: 991px) {
    .banner-title{
        padding: 50px !important;
        width: 90%;
    }
    .banner-title h2{
        width: 100%;
    }
    .play-btn{
        left: 40px;
        top: 350px;
    }
}

@media only screen and (max-width: 767px){
    .banner-title h2{
        font-size: 2.2rem;
    }
    .play-btn{
        top: 290px;
    }
}
/*End-What We Do */