@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap");

*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
    overflow-y: hidden;
    background-color: var(--black-color);
    color: var(--white-color);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: inline-block;
}

:root{
    --prim-color: #BFF747;
    --white-color: #fff;
    --black-color: #000;
    --light-color: #3D3E3C;
    
    --poppins: "Poppins";
    --transition-regular: .3s;
}

/* NAVBAR */

.nav-container{
    z-index: 9999;
}

.logo span{
    color: var(--prim-color);
}

.nav-menu li a{
    position: relative;
    transition: var(--transition-regular);
}

.nav-menu li a:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    border-radius: 5px;
    background-color: var(--prim-color);
    transition: var(--transition-regular);
}


.nav-menu li a::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    border-radius: 5px;
    background-color: var(--prim-color);
    transition: var(--transition-regular);
}

.nav-menu li a:hover::after,
.nav-menu li a:hover::before{
    width: 100%;
}

.nav-menu li a:hover{
    color: var(--prim-color) !important;
}

.hero-social-icon i{
    font-size: 1.5rem;
    color: var(--prim-color);
    transition: var(--transition-regular);
}

.hero-social-icon i:hover{
    color: var(--white-color);
    cursor: pointer;
}

@media only screen and (max-width: 991px){
    .hero-social-icon{
        display: none !important;
    }
}

/* Hero Section */

.video-bg{
    position: relative;
  
}

.video-bg::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.video-bg video{
    z-index: -100;
    width: 100%;
    height: 80%;
    /* object-fit: cover; */
}

.hero{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 60%;
}
.hero-content h5{
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

.hero-content h1{
    font-size: 4.5rem;
    font-weight: 300 !important;
    color: var(--white-color);
}

.hero-content span{
    font-weight: 600;
    color: var(--prim-color);
}

.floting-img .floting-img-1,
.floting-img .floting-img-2{
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.floting-img .floting-img-1,
.floting-img .floting-img-2{
    background-color: var(--prim-color);
    width: 80px;
    height: 80px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    border-radius: 100%;
    animation: Anim-TB 3s forwards linear infinite;
}

.floting-img-2{
    left: 66% !important;
    animation-delay: 1.5s !important;   
}

.floting-img .floting-img-1 img{
    width: 100%;
    height: 100%; 
}

.floting-img .floting-img-1::after,
.floting-img .floting-img-2::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: var(--white-color);
    border-radius: 100%;
    z-index: -1;
    transition: var(--transition-regular);
}

.floting-img .floting-img-1:hover::after,
.floting-img .floting-img-2:hover::after{
    width: 100%;
    height: 100%;
}

@keyframes Anim-TB {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0);
    }
}

.floting-text span{
    background-color: var(--prim-color);
    color: var(--black-color);
    position: absolute;
    top: 85%;
    left: 20%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 50px;
    font-weight: 600;
    animation: Anim-LR 3s forwards linear infinite !important;
}

.floting-text span:nth-child(2){
    top: 80%;
    left: 60%;
    animation-delay: 1.5s;
}

@keyframes Anim-LR{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(50px);
    }
    100%{
        transform: translateX(0);
    }
}

.hero-marquee{
    position: absolute;
    width: 108%;
    top: 90%;
    left: 0;
    right: 0;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--prim-color);
}

@media (max-width: 1399px){
    .hero-marquee{
        top: 130%;
    }
    .video-bg{
        height: 125vh;
    }

    .video-bg video{
        width: 100%;
        height: 100%;
    }

    .floting-img-1{
        left: 20% !important;
    }
    .floting-img-2{
        left: 70% !important;
    }
}

@media (max-width: 1199px){
    .hero-marquee{
        top: 125%;
    }

    .hero-content h1{
        font-size: 3.5rem;
    }
    .floting-img-1{
        left: 15% !important;
    }
    .floting-img-2{
        left: 80% !important;
    }
}


@media (max-width: 991px){
    .nav-container{
       backdrop-filter: blur(6px);
    }
    .hero-content h1{
        font-size: 3rem;
    }

    .hero-marquee{
        top: 120%;
    }
    .floting-img-1{
        left: 15% !important;
    }
    .floting-img-2{
        left: 75% !important;
    }

}

@media (max-width: 767px){
    .video-bg{
        height: 100vh;
    }
    .hero-content h1{
        font-size: 2.5rem;
    }

    .hero-marquee{
        top: 110%;
    }

    .floting-img-1{
        left: 10% !important;
    }
    .floting-img-2{
        left: 80% !important;
    }
}

.about-us{
  padding-top: 120%;
  padding-bottom: 80%;
  
}